.countrys{

    padding: 40px;
    margin: 20px 0px;
    border: 1px solid green;
    border-radius: 8px;
}

.visitede{

    background-color: black;
    color: white;
}
.mark{
    margin-top: 10px;
}